.t1
{
    margin-top: 1%;
    margin-left: 1%;
}
.t2
{
    margin-left: 1%;
    margin-top: .1%;
}
.t3
{
    width: 70%;
    height: 60%;
}
.t4
{
    color: #000000;
}
.t5
{
    width: 20%;
}
h5
{
    /* font-family: 'Acme', sans-serif;
    font-family: 'Electrolize', sans-serif; */
    font-family: 'Libre Baskerville', serif;
    /* font-family: 'Lobster', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Righteous', cursive; */
}
.h-2-1
{
    font-family:  'Electrolize', sans-serif;
}
.h-2-2
{
    font-family:  'Electrolize', sans-serif;
}
h2
{
    font-family: 'Libre Baskerville', sans-serif;
}
.parallax-container {
  }
      
.p-1
{
    font-size: 130%;
    font-family: 'Electrolize', sans-serif;
}
.slider
{
    width: 100%;
    height: 100%;
}
.capta
{
    margin-top: -30px;
}
b
{
    font-family: 'Play', sans-serif;
}
.coll-hig
{
    height: 50vh;
}